<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lplb.modular.mapper.CnaGenesMapper">

    <select id="top10CnaGenes" resultType="com.lplb.modular.model.vo.StatisticsVo">
        SELECT
            c.gene_name AS `key`,
            COUNT(c.gene_name) AS `value`
        FROM in_cna_genes c
        GROUP BY c.gene_name
        ORDER BY `value` DESC
        LIMIT 10
    </select>
</mapper>

