<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lplb.modular.mapper.GeneraMapper">

    <select id="generaAssociatedWithIntestinalDiseases" resultType="com.lplb.modular.model.vo.StatisticsVo">
        SELECT
            m.genera_name AS `key`,
            COUNT(m.genera_name) AS `value`
        FROM in_genera m
        WHERE m.genera_name != 'NA'
        GROUP BY m.genera_name
        ORDER BY `value` DESC
    </select>
</mapper>

