<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lplb.sys.modular.org.mapper.SysOrgInfoMapper">
    <delete id="deleteByOpenId">
        DELETE FROM sys_org_info WHERE open_app_id=#{openAppId}
    </delete>

    <select id="getOrgInfo" resultType="com.lplb.sys.modular.org.entity.SysOrgInfo">
        SELECT * FROM sys_org_info WHERE org_uuid=#{orgId} LIMIT 1
    </select>
</mapper>

